{% extends "base.html" %}

{% block title %}Meu Portfólio{% endblock %}

{% block content %}
    <h1>Análise de Portfólio</h1>

    <div class="chart_container">
        <h2>Total Investido por Ativo</h2>
        <img src="{{ url_for('static', filename=plot_url) }}" alt="Total Investido por Ativo">
    </div>

    <div class="data-container">
        <h2>Dados</h2>
        {{ data_html | safe }}
    </div>

    <div class="nav-links">
        <a href="{{ url_for('index') }}">Voltar para a página inicial</a>
        <a href="{{ url_for('show_portfolio') }}">Voltar para a página da carteira</a>
    </div>
    {% endblock %}